@import url(https://fonts.googleapis.com/css?family=Playfair+Display:900italic,900,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Anaheim);

* {margin: 0; padding: 0; box-sizing: border-box;}


header{
	padding: 20px 10px 200px 10px;
	background-image: url("https://c.stocksy.com/a/UNN300/z0/804852.jpg");
	background-repeat: no-repeat;
	background-size: cover; 
}

nav, footer {
	font-family: 'Anaheim', sans-serif;
	font-size: 16px;
	font-weight: 900;
	text-decoration: none;
	text-transform: uppercase;

}

a{
	text-decoration: none;
	padding-right: 10px;
	color: black;
}

nav{
	text-align: right;
	margin: 20px 60px 0 0;
}

h2{
	font-family: 'Playfair Display', serif;
	font-weight: 900;
	font-style: italic;
	font-size: 60px;

}
h1{
	font-family: 'Anaheim', sans-serif;
	font-size: 45px;
	text-transform: uppercase;
	padding: 0 10px;
	margin-top: 60px;
}

.white_padding{
	background-color: rgba(255, 255, 255, .7);
}
span{
	background-color: #d7ff99;
	padding: 0 10px;
}

#main_title {
	line-height: 1em;
	text-align: center;
	margin: 140px 0 0 0;
}

#intro_description{
	font-family: 'Anaheim', sans-serif;
	font-size: 24px;
	margin: 60px 180px;
	line-height: 1.5em;
	text-align: center;
}

.about_us{
	font-family: 'Anaheim', sans-serif;
	font-size: 20px;
}

#sign_up{
	text-align: center;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 900;
	font-family: 'Anaheim', sans-serif;
}

.sign_up_link{
	padding: 16px;
	background-color: #d7ff99; 
	margin-right: 10px;
	color: black;

}

.body_descript{
	margin: 0 180px;
	padding: 60px 0;

}


.section_header{
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	font-style: italic;
	font-size: 40px;
	margin: 16px 0;
	color: black;
}

.section_description, .list_description {
	font-family: 'Anaheim', sans-serif;
	font-size: 20px;
}
.list_item{
	text-transform: uppercase;
	font-family: 'Anaheim', sans-serif;
	font-size: 24px;
	font-weight: 900;
}

.perks_link{
	padding-right: 0;
	color: #ff66ff;
	font-weight: 700;
}

ul{
	list-style: none;
}

footer {
	text-align: center;
	margin: 0 60px 20px 0;
}




